<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated statechart -->
      <package
            uri="http://www.inf.mit.bme.hu/theta/statechart/Model"
            class="hu.bme.mit.inf.theta.statechart.model.StatechartModelPackage"
            genModel="model/statechart.genmodel"/>
   </extension>

</plugin>
