*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle/
build/
dest/

# Eclipse
.settings/
.project
.classpath

# Intellij
.idea/**
*.iml
*.iws
# useful exclusions
!.idea/copyright
!.idea/copyright/bme_apache2.xml
!.idea/copyright/profiles_settings.xml
!.idea/codeStyles
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml

# Other
wdl-output.json
witness.graphml
arg-false.dot
arg-true.dot
trace.dot
xcfa.c
xcfa.dot
xcfa.json
*.plantuml
xcfa-*.smt2
