<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated constraint -->
      <package
            uri="http://www.inf.mit.bme.hu/theta/constraint/Model"
            class="hu.bme.mit.inf.theta.constraint.model.ConstraintModelPackage"
            genModel="model/constraint.genmodel"/>
   </extension>

</plugin>
