<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated system -->
      <package
            uri="http://www.inf.mit.bme.hu/theta/system/Model"
            class="hu.bme.mit.inf.theta.system.model.SystemModelPackage"
            genModel="model/system.genmodel"/>
   </extension>

</plugin>
