/*
!/Download-VCredist.ps1
!/README.md
!/com.microsoft.z3legacy.jar
!/hu.bme.mit.delta-0.0.1-all.jar
!/jhoafparser-1.1.1.jar
!/libmpfr.dylib
!/libmpfr_java-1.0.so
!/libmpfr_java-1.4.jnilib
!/libtheta-llvm.so
!/libz3javalegacy.dll
!/libz3javalegacy.dylib
!/libz3javalegacy.so
!/libz3legacy.dll
!/libz3legacy.dylib
!/libz3legacy.so
!/mpfr64.dll
!/mpfr_java-1.0-linux64.jar
!/mpfr_java-1.0-windows64.jar
!/mpfr_java-1.0.jar
!/mpfr_java.dll
!/mpir64.dll
!/refinery-store-0.1.jar
