/bin/
/src-gen/
/xtend-gen/
/.antlr-generator-3.2.0-patch.jar

/src/hu/bme/mit/inf/ttmc/program/language/*
!/src/hu/bme/mit/inf/ttmc/program/language/*.xtext
!/src/hu/bme/mit/inf/ttmc/program/language/*.mwe2