name: Linux build

on: [push, pull_request]

jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-20.04, ubuntu-18.04]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.17
      uses: actions/setup-java@v1
      with:
        java-version: 1.17
    - name: Build with Gradle
      run: ./gradlew build --scan
    - uses: actions/upload-artifact@v3
      with:
          name: ThetaJars
          path: subprojects/**/*-all.jar
    
