name: Check version
on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency: 
  group: version-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-version:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Setup Java 21
        uses: actions/setup-java@5ffc13f4174014e2d4d4572b3d74c3fa61aeb2c2 # v3.11.0
        with:
          distribution: temurin
          java-version: 21
      - name: New version
        id: new_version
        run: |
          echo version=$(./gradlew properties --no-daemon --console=plain -q | grep "^version:" | awk '{printf $2}') >> $GITHUB_OUTPUT
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          ref: master
      - name: Master version
        id: master_version
        run: |
          echo version=$(./gradlew properties --no-daemon --console=plain -q | grep "^version:" | awk '{printf $2}') >> $GITHUB_OUTPUT
      - name: version is correct
        if: ${{ steps.new_version.outputs.version != steps.master_version.outputs.version }}
        run: echo "New version ${{ steps.new_version.outputs.version }} is OK"
      - name: version is inccorrect
        if: ${{ steps.new_version.outputs.version == steps.master_version.outputs.version }}
        run: |
          echo "New version ${{ steps.new_version.outputs.version }} is NOT OK"
          exit 1
      - name: Comment
        if: failure() && github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@dadb7667129e23f12ca3925c90dc5cd7121ab57e
        continue-on-error: true # if we are in a fork, this will fail, but we don't care (tables will be missing)
        with: 
          comment_tag: 'version'
          mode: 'recreate'
          message: |
            :exclamation: Please modify `build.gradle.kts` to contain a later version than ${{ steps.master_version.outputs.version }}. Current version is ${{ steps.new_version.outputs.version }}.

      - name: Delete Comment
        if: github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@dadb7667129e23f12ca3925c90dc5cd7121ab57e
        continue-on-error: true # if we are in a fork, this will fail, but we don't care (tables will be missing)
        with: 
          comment_tag: 'version'
          mode: 'delete'