name: Copyright check

on: [ workflow_dispatch ]

jobs:
  check-copyright:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Check copyright header in every .java and .kt file
      run: |
        LIST=$(find . -type f \( -name "*.java" -o -name "*.kt" \) -exec grep -HL 'Copyright 20.. Budapest University of Technology and Economics' '{}' ';')
        [ -z "$LIST" ] && echo "Copyright OK" || printf "Copyright notice not present in files:\n$LIST\n"
        [ -z "$LIST" ]