name: Check copyright
on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

permissions: write-all

concurrency: 
  group: copyright-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-copyright:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Setup Java 21
        uses: actions/setup-java@5ffc13f4174014e2d4d4572b3d74c3fa61aeb2c2 # v3.11.0
        with:
          distribution: temurin
          java-version: 21
      - name: Run Gradle copyright check
        uses: ./.github/actions/cache-build
        with:
          arguments: checkCopyright
      - name: Comment
        if: failure() && github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@dadb7667129e23f12ca3925c90dc5cd7121ab57e
        continue-on-error: true # if we are in a fork, this will fail, but we don't care (tables will be missing)
        with: 
          comment_tag: 'copyright'
          mode: 'recreate'
          message: |
            :exclamation: Please run `./gradlew spotlessApply` on your branch to fix copyright headers.

      - name: Delete Comment
        if: github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@dadb7667129e23f12ca3925c90dc5cd7121ab57e
        continue-on-error: true # if we are in a fork, this will fail, but we don't care (tables will be missing)
        with: 
          comment_tag: 'copyright'
          mode: 'delete'