name: Windows build and test
on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

permissions: write-all

concurrency: 
  group: win-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-windows:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, windows-2025, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Install VC-Redist 2010 and 2012
        run: |
          Install-Module -Name VcRedist -Force
          $VcList = Get-VcList -Export All | Where-Object { $_.Release -eq "2010" -or $_.Release -eq "2012" }
          Save-VcRedist -VcList $VcList
          Install-VcRedist -VcList $VcList -Silent
      - name: Setup Java 21
        uses: actions/setup-java@5ffc13f4174014e2d4d4572b3d74c3fa61aeb2c2 # v3.11.0
        with:
          distribution: temurin
          java-version: 21
      - name: Gradle build (no tests)
        uses: ./.github/actions/cache-build
        with:
          arguments: build -x test
      - name: Positive outcome badge
        if: ${{ matrix.os == 'windows-latest' }}
        uses: ./.github/actions/badge-creation
        with:
          label: "${{ runner.os }} build"
          status: "Success"
          color: "green"
          path: "badges/build-${{ runner.os }}"
      - name: Negative outcome badge
        if: ${{ failure() && matrix.os ==  'windows-latest'  }}
        uses: ./.github/actions/badge-creation
        with:
          label: "${{ runner.os }} build"
          status: "Failure"
          color: "red"
          path: "badges/build-${{ runner.os }}"
      - name: Gradle test
        uses: ./.github/actions/cache-build
        with:
          arguments: test
      - name: Positive outcome badge
        if: ${{ matrix.os == 'windows-latest' }}
        uses: ./.github/actions/badge-creation
        with:
          label: "${{ runner.os }} test"
          status: "Success"
          color: "green"
          path: "badges/test-${{ runner.os }}"
      - name: Negative outcome badge
        if: ${{ failure() && matrix.os ==  'windows-latest'  }}
        uses: ./.github/actions/badge-creation
        with:
          label: "${{ runner.os }} test"
          status: "Failure"
          color: "red"
          path: "badges/test-${{ runner.os }}"