name: Windows build and test
on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

permissions: write-all

jobs:
  test-windows:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, windows-2019, windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Install VC-Redist 2010 and 2012
        run: |
          Install-Module -Name VcRedist -Force
          $VcList = Get-VcList -Export All | Where-Object { $_.Release -eq "2010" -or $_.Release -eq "2012" }
          Save-VcRedist -VcList $VcList
          Install-VcRedist -VcList $VcList -Silent
      - name: Build
        uses: ./.github/actions/build-action
      - name: Positive outcome badge
        if: ${{ matrix.os == 'windows-latest' }}
        uses: ./.github/actions/badge-creation
        with:
          label: "${{ runner.os }} build"
          status: "Success"
          color: "green"
          path: "badges/build-${{ runner.os }}"
      - name: Negative outcome badge
        if: ${{ failure() && matrix.os ==  'windows-latest'  }}
        uses: ./.github/actions/badge-creation
        with:
          label: "${{ runner.os }} build"
          status: "Failure"
          color: "red"
          path: "badges/build-${{ runner.os }}"
      - name: Run tests
        uses: ./.github/actions/test-action
      - name: Positive outcome badge
        if: ${{ matrix.os == 'windows-latest' }}
        uses: ./.github/actions/badge-creation
        with:
          label: "${{ runner.os }} test"
          status: "Success"
          color: "green"
          path: "badges/test-${{ runner.os }}"
      - name: Negative outcome badge
        if: ${{ failure() && matrix.os ==  'windows-latest'  }}
        uses: ./.github/actions/badge-creation
        with:
          label: "${{ runner.os }} test"
          status: "Failure"
          color: "red"
          path: "badges/test-${{ runner.os }}"